@font-face {
	font-family: 'Blade Runner Movie Font';
	src: url(../../assets/fonts/BladeRunnerMovieFont.woff2) format('woff2'),
	url(../../assets/fonts/BladeRunnerMovieFont.woff) format('woff');
	font-weight: normal;
	font-style: normal;
}